@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 16px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(135deg, white, #fff5f5);
  height: 100%;
}

.attribution {
  background-color: rgba(255, 255, 255, 0.6);
  color: #6055a5;
  font-size: 11px;
  text-align: center;
  position: fixed;
  width: 200px;
  padding: 12px;
  height: auto;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.attribution:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
  background-color: white;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.attribution__by {
  color: #3e3c49;
}

.attribution__text {
  margin-bottom: 4px;
}

.attribution__text a {
  color: #6055a5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-decoration: none;
}

.attribution__text a:hover {
  color: #0061cc;
}

@media (max-width: 1024px) {
  .attribution {
    display: none;
  }
}

.grifano-logo {
  display: inline-block;
  border-radius: 2px;
  padding: 4px 4px 2px 4px;
  color: #fff;
  background-color: #0061cc;
}

.grifano-logo span {
  color: #d07f15;
  background-color: #0061cc;
}

.container {
  max-width: 445px;
  padding: 32px;
  margin: auto;
}

.show {
  visibility: visible;
  opacity: 100%;
}

small {
  display: block;
  color: #f96262;
  font-size: 12px;
  font-style: italic;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.15000000596046448px;
  padding-left: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.page-wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(375px, 610px);
      grid-template-columns: 1fr minmax(375px, 610px);
      grid-template-areas: "header aside" "main aside" "main aside";
  background: url("../images/bg-pattern-desktop.svg") left/cover no-repeat;
}

@media (max-width: 825px) {
  .page-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 84px 0.5fr 1fr;
        grid-template-rows: 84px 0.5fr 1fr;
        grid-template-areas: "header" "aside" "main";
    background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
  }
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

header a {
  font-size: 0;
  display: block;
}

@media (max-width: 475px) {
  header a {
    max-width: 100px;
  }
}

header img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.sign-up {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: main;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ce9797;
}

.sign-up__title {
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 17.320634841918945px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.sign-up__title strong {
  color: #413a3a;
  font-weight: 600;
  line-height: 71px;
}

@media (max-width: 825px) {
  .sign-up__title {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 10.8254px;
    margin-bottom: 16px;
  }
  .sign-up__title strong {
    line-height: 42px;
  }
}

.sign-up__subtitle {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 40px;
}

@media (max-width: 825px) {
  .sign-up__subtitle {
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 32px;
  }
}

.sign-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

.sign-up__form label {
  font-size: 0;
}

.sign-up__form input {
  border-style: none;
  border-radius: 28px;
  border: 1px solid rgba(206, 152, 152, 0.5);
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #413a3a;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 132px 15px 32px;
}

.sign-up__form input::-webkit-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #ce9797;
  opacity: 0.5;
}

.sign-up__form input:-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #ce9797;
  opacity: 0.5;
}

.sign-up__form input::-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #ce9797;
  opacity: 0.5;
}

.sign-up__form input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #ce9797;
  opacity: 0.5;
}

.sign-up__form input:focus {
  outline-color: #ce9797;
}

.sign-up__form input:invalid {
  outline-color: #f96262;
  color: #f96262;
  background: url("../images/icon-error.svg") top 50% right 72px no-repeat;
}

@media (max-width: 769px) {
  .sign-up__form input {
    font-size: 14px;
    padding: 7px 88px 7px 24px;
  }
}

.sign-up__form button {
  font-size: 0;
  margin-left: -100px;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 56px;
  width: 100px;
  border-style: none;
  -webkit-box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
          box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  cursor: pointer;
}

.sign-up__form button::after {
  content: url(../images/icon-arrow.svg);
}

@media (min-width: 769px) {
  .sign-up__form button:hover {
    background-position: 100px;
  }
}

@media (max-width: 769px) {
  .sign-up__form button {
    width: 64px;
    min-height: 48px;
    margin-left: -64px;
  }
}

@media (max-width: 825px) {
  .sign-up {
    text-align: center;
  }
}

aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: aside;
  overflow: hidden;
}

@media (max-width: 825px) {
  aside {
    height: 66.667vw;
  }
}

aside img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -o-object-position: top left;
     object-position: top left;
}
